.main-body{
    background-color: #a9b3c4;
    height: 100vh;
    padding-top: 10%;
}

.center-div{
    background-color: #e3ecf0;
    /* border: 1px solid #000; */
    border-radius: 10px;
    width: 70%;
    height: 40vh;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
}

.center-div p{
    text-align: center;
    font-weight: 600;
    font-size: 27px;
}

.center-div .form-div{
    /* border: 1px solid #000; */
    /* background-color: #EDF2F4; */
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.center-div .form-div input{
    width: 90%;
    height: 20px;
}

.center-div .form-div input, label{
    margin-left: 3% ;
}

.center-div .button-div{
    /* border: 1px solid #000; */
    margin-top: 1%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-div .login-btn {
    background-color: #2B2D42;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.2s;
}

.button-div .login-btn:hover{
    background-color: #4d506d;
    cursor: pointer;
}

.button-div .register-btn{
    background-color: #8D99AE;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.2s;
}

.button-div .register-btn:hover{
    background-color: #5f6979;
    color: #f7f7f7;
    cursor: pointer;
}